*{
    margin: 0;
    padding: 0;
    font-family: sans-sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image:url("..//img/madel.gif");
  background: :#cccccc;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.logo {
  width: 128px;
  cursor: pointer;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #black;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: ivory;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: ivory;
}
a:hover {
    color: ivory;
}


h1 {
color: White;
font-family: "Times new roman";
font-size: 200%;
text-align: center;
}


#ball {
    margin-top: 100px;
    margin-bottom: 100px;
    color: green;
}

#ball a {
    font-weight: bold;
    font-size: 4em;
    transition: all 500ms;
    color: #fff;
}

#ball a:hover {
    font-size:88px;
    font-size-adjust: 20px;
}

#ball {
margin:auto;
text-align:center;
}


body{
  background-color:#cccccc;
}


.hamburger__toggle{
  display:block;
  position: relative;
  background-color:#3d3d3d;
  width: 60px;
  height: 60px;
  margin:50px auto;
  border-radius:50%;
  border:none;
}

/* give the span element and related pseudo-elements the appearance of white lines */
.hamburger__icon,
.hamburger__icon::before,
.hamburger__icon::after {
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: white;
}

/* center the span element in the middle of its containing button */
.hamburger__icon {
  top: calc(50% - 2px);
  left: calc(50% - 15px);
}

/* position the two pseudo-elements to the very left */
.hamburger__icon::before,
.hamburger__icon::after {
  content: "";
  left: 0;
}

/* this is the top dash of the hamburger */
.hamburger__icon::before {
  bottom: 8px;
}

/* this is the bottom dash of the hamburger */
.hamburger__icon::after {
  top: 8px;
}

/* HOVER STYLES ON THE BUTTON */

/* rotate middle dash of hamburger */
.hamburger__toggle:hover .hamburger__icon {
  height: 5px;
  width: 54px;
  left: 5px;
  top: calc(50% - 2px);
  transform: rotate(-45deg);
  background-color: red;
}

/* rotate bottom dash of hamburger counter clockwise */
.hamburger__toggle:hover .hamburger__icon::after {
  width: 54px;
  height: 5px;
  top: -1px;
  transform: rotate(-270deg);
  background-color: red;
}

/* hide the top dash by scaling it to 0 */
.hamburger__toggle:hover .hamburger__icon::before {
  transform: scale(0);
}

/* TRANSITION */
/* adjust duration to see it happen slower */
.hamburger__icon, .hamburger__icon::after {
  transition: all 0.3s linear;
}


.wlecome {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
}

#lg{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: fill 0.5 ease forwards 4.5s;
}

#lg path:nth-child(1){
  stroke-dasharray: 30px;
}
#lg path:nth-child(2){
stroke-dasharray: 915.999;
stroke-dashoffset: 915.999;
animation: line-anim 3s ease forwards;
}

#lg path:nth-child(3){
  stroke-dasharray: 738;
  stroke-dashoffset: 738;
  animation: line-anim 3s ease forwards 0.3s;
}
#lg path:nth-child(4){
  stroke-dasharray: 840;
  stroke-dashoffset: 840;
  animation: line-anim 3s ease forwards 0.6s;
}

#lg path:nth-child(5){
  stroke-dasharray: 748;
  stroke-dashoffset: 748;
  animation: line-anim 3s ease forwards 0.9s;
}
#lg path:nth-child(6){
  stroke-dasharray: 835;
  stroke-dashoffset: 835;
  animation: line-anim 3s ease forwards 1.2s;
}
#lg path:nth-child(7){
  stroke-dasharray: 925;
  stroke-dashoffset: 925;
  animation: line-anim 3s ease forwards 1.5s;
}

#lg path:nth-child(8){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 1.8s;
}

#lg path:nth-child(9){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;

}#lg path:nth-child(10){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;
}

#lg path:nth-child(11){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;
}#lg path:nth-child(12){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;
}#lg path:nth-child(13){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;
}#lg path:nth-child(14){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;
}#lg path:nth-child(15){
  stroke-dasharray: 623.1;
  stroke-dashoffset: 623.1;
  animation: line-anim 3s ease forwards 2.1s;
}#lg path:nth-child(16){
  stroke-dasharray: 694.5;
  stroke-dashoffset: 694.5;
  animation: line-anim 3s ease forwards 2.1s;
}#lg path:nth-child(17){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;
}#lg path:nth-child(18){
  stroke-dasharray: 564.5;
  stroke-dashoffset: 564.5;
  animation: line-anim 3s ease forwards 2.1s;
}

@keyframes line-anim {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill:;
  }
}
